<h1 >Hi there. Please select the requirements for your password </h1>
<form action="password">
    <select name="length" id="">
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10" selected='selected'>10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select> Length
<br>
<input type="checkbox" name="uppercase" id="">Uppercase
<br>
<input type="checkbox" name="specialchar" id="">Special Characters
<br>
<input type="checkbox" name="numbers" id="">Numbers
<br>

<input type="submit" value="Click to generate your unique password">
</form>